@model ChaplyginMVCProject.Models.DetailedInfoModel
<fieldset>
    <legend>Подробная информация о контракте:</legend>
    <table>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.ContractSubject)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.ContractSubject)
            </td>
        </tr>

        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.Signatory)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.Signatory)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                 @Html.DisplayNameFor(model => model.ContactInfo)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.ContactInfo)
            </td>

        </tr>
        <tr>
            <td class="display-label">
                 @Html.DisplayNameFor(model => model.ContractNumber)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.ContractNumber)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                 @Html.DisplayNameFor(model => model.ContractDate)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.ContractDate)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                 @Html.DisplayNameFor(model => model.Sum)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.Sum)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.FullName)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.FullName)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                 @Html.DisplayNameFor(model => model.ExecutorInfo)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.ExecutorInfo)
            </td>
        </tr>

    </table>
</fieldset>

