@model ChaplyginMVCProject.Models.ShortInfoModel

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <th>@Html.DisplayNameFor(x => x.Id)</th>
        <th>@Html.DisplayNameFor(x => x.ContractNumber)</th>
        <th>@Html.DisplayNameFor(x => x.ContractDate)</th>
        <th>@Html.DisplayNameFor(x => x.Sum)</th>
        <th>@Html.DisplayNameFor(x => x.FullName)</th>
    </tr>
    @if (Model.ContractList == null)
    {
        <p>Нет информации о контрактах.</p>
    }
    else
    {
        foreach (var item in Model.ContractList)
        {
            <tr onclick="showDetails(@item.Id)">
                <td>@item.Id</td>
                <td>@item.ContractNumber</td>
                <td>@item.ContractDate</td>
                <td>@item.Sum</td>
                <td>@item.FullName</td>
            </tr>
        }
    }

</table>

<div id="detailesDialogWindow">
    
</div>

<script language="javascript">
    function showDetails(id) {
        $.ajax({
            url: '/HOME/RequestDetails',
            type: 'POST',
            data: id,
            success: function(data) {
                var html = '';

                $('#detailesDialogWindow').html(html);
            }
        });
    }
</script>

