@using ChaplyginMVCProject.Models
@model IEnumerable<ShortInfoModel>

@{
    ViewBag.Title = "Index";
}
@if (!Model.Any())
{
    <div>Нет информации о контрактах.</div>
    <button onclick="callCreateContract()" >Let's create contract!</button>
}
else
{
    <button onclick="callCreateContract()" >Let's create contract!</button>
    <table>
        <tr>
            <th>
                @Html.ActionLink(
                    Html.DisplayNameFor(x => x.Id).ToHtmlString(),
                    "Index",
                    new { Id = true }
                    ) 
            </th>
            <th>
                @Html.ActionLink(
                    Html.DisplayNameFor(x => x.ContractNumber).ToHtmlString(),
                    "Index",
                    new { ContractNumber = true }
                    )                 
            </th>
            <th>
                @Html.ActionLink(
                    Html.DisplayNameFor(x => x.ContractDate).ToHtmlString(),
                    "Index",
                    new { ContractDate = true }
                    )                 
            </th>
            <th>
                @Html.ActionLink(
                    Html.DisplayNameFor(x => x.Sum).ToHtmlString(),
                    "Index",
                    new { Sum = true }
                    )
            </th>
            <th>
                @Html.ActionLink(
                    Html.DisplayNameFor(x => x.FullName).ToHtmlString(),
                    "Index",
                    new { FullName = true }
                    )
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="row-@item.Id">
                <td class="ID">@Html.DisplayFor(x => item.Id)</td>
                <td >@Html.DisplayFor(x => item.ContractNumber)</td>
                <td >@Html.DisplayFor(x => item.ContractDate)</td>
                <td >@Html.DisplayFor(x => item.Sum)</td>
                <td class="fullname">@Html.DisplayFor(x => item.FullName)</td>
            </tr>
        }
    

    </table>
    <button onclick="callCreateContract()" >Let's create contract!</button>
}
<div id="detailesDialogWindow">
    
</div>
<div id="createContractDialogWindow">
    @{ Html.RenderPartial("CreatePartialView", new DetailedInfoModel()); }   
</div>

<script type="text/javascript" language="javascript">


    $(function() {
        $("#detailesDialogWindow").dialog({
            resizable: false,
            modal: true,
            autoOpen: false,
            width: 900
        });

        $("#createContractDialogWindow").dialog({
            resizable: false,
            modal: true,
            autoOpen: false,
            width: 1100
        });

        $('.editor-field').children().val('');

        $('.fullname').click(function (e) {
            e.stopPropagation();
            $('.fullname').removeClass('contract-column-selected');
            $(this).addClass('contract-column-selected');
            showDetails($(this).parent().children('.ID').html(), 0);
        });

        $('tr').click(function(e) {
            showDetails($(this).children('.ID').html(), 1);
        });
    });


    function callCreateContract() {
        $('#createContractDialogWindow').dialog('open');
    }

    function showDetails(id, fullRequestFlag) {
        //e.stopPropagation();
        switch (fullRequestFlag) {
        case 0:
            $.ajax({
                url: '/HOME/RequestDetails',
                type: 'POST',
                data: { id: id, flag: fullRequestFlag },
                dataType: "html",
                success: function(data) {
                    $('#detailesDialogWindow').html(data);
                    $('#detailesDialogWindow').dialog('open');
                },
                error: function() {
                    alert('Ошибка передачи данных или требуемого контракта уже нет ;(');
                }
            });
            break;
        case 1:
            var url = '@Url.Action("RequestDetails", "Home", new { id = "_id" /*, flag = 1*/})';
            window.location.href = url.replace('_id', id);
            break;
        default:
            var urldefault = '@Url.Action("RequestDetails", "Home", new {id = "_id" /*, flag = 1*/})';
            window.location.href = urldefault.replace('_id', id);
            break;
        }


    }
</script>

